<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{% block title %}<title>Octiveware</title>{% endblock %}
	{% load staticfiles %}


	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}" />

	<script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>

</head>
<body>

<!-- Top navigation bar -->
	<div class="contain-to-grid sticky">
		<nav class="top-bar" data-topbar>
			
			<!--right navigation section -->
			<section class="top-bar-section">
				<ul class="right">
				
					{% if user.is_authenticated %}
					<!-- The administrator page option -->
					<li class="has-form">
						<li><a id="admin-nav" style="align:center" href="/admin">Admin</a></li>  
					</li>

					<!-- dropdown list -->
					<li class="has-dropdown">
						<a id="user-settings">{{ user }}</a>
						<ul class="dropdown">
							<li><a id="account-settings" href="/profile/{{ user }}/">Account settings</a></li>
							<li><a id="logout" href="/login/logout/"> Logout </a></li>
						</ul>
					</li>
					
					<!-- The login page option -->
					{% else %}
					<li><a href="/login/"> Login </a></li>
					{% endif %}
					
				</ul>

							<!-- left navigation section -->
			<ul class="title-area">
				<li class="name">
					<h1><a id="trans-nav" style="padding-left:0px" href="/">Octiveware</a></h1>
				</li>
			</ul>
			</section>
			
		</nav>
	</div>
	{% block body_block %} This is default template content {% endblock %}

	<script src="{% static 'js/fastclick.js' %}"></script>
	<script src="{% static 'js/foundation.min.js' %}"></script>
	<script>$(document).foundation();</script>

</body>
</html>
